{% if col.type is same as('actions') %}
	{% include col.template with {entity:col.entity} %}
{% elseif col.type is same as('template') %}
	{% include col.template with col.value %}
{% elseif col.type is same as('string') %}
	{% if col.raw %}{{ col.value|raw }}{% else %}{{ col.value }}{% endif %}
{% elseif col.type is same as('boolean') %}
	{% if col.value %}<b class="oi oi-check"></b>{% endif %}
{% elseif col.type is same as('image') %}
	<img src="{{ col.value }}" alt="" />
{% elseif col.type is same as('link') %}
	<a {% if col.blank %}target="_blank" {% endif %}{% if col.title %}title="{{ col.title }}"{% endif %}href="{{ col.href }}">{{ col.value }}</a>
{% endif %}